FRONTEND_URL="your_frontend_url

DATABASE_USER="your_database_user"
DATABASE_PASSWORD="your_database_password"

KEYCLOAK_URL="your_keycloak_url"

##  SSL  ##
TRUSTSTORE_URL_PATH="ssl_truststore_path"
CLIENT_KEYSTORE_URL_PATH="ssl_keystore_path"

TRUSTSTORE_PASSWORD="ssl_truststore_password"
CLIENT_KEYSTORE_PASSWORD="ssl_keystore_password"

TRUSTSTORE_TYPE=PKCS12
CLIENT_KEYSTORE_TYPE="PKCS12"
